//====fonts2====

//Google fonts2
@font-face {

  font-family: 'DroidSerifBold';
  src: url('fonts2/DroidSerif-Bold-webfont.eot');
  src: url('fonts2/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts2/DroidSerif-Bold-webfont.woff') format('woff'),
  url('fonts2/DroidSerif-Bold-webfont.ttf') format('truetype'),
  url('fonts2/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?-zbaz39');
  src:url('fonts/icomoon.eot?#iefix-zbaz39') format('embedded-opentype'),
  url('fonts/icomoon.woff?-zbaz39') format('woff'),
  url('fonts/icomoon.ttf?-zbaz39') format('truetype'),
  url('fonts/icomoon.svg?-zbaz39#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e600";
  font-size: 2em;
}
.icon-users:before {
  content: "\e605";
  font-size: 1em;
}
.icon-remove:before {
  content: "\e610";
  font-size: 1.3em;
}
.icon-googleplus:before {
  content: "\e601";
  font-size: 2em;
}
.icon-facebook:before {
  content: "\e602";
  font-size: 2em;
}

.icon-twitter:before {
  content: "\e603";
  font-size: 2em;
}

.icon-github:before {
  content: "\e604";
  font-size: 2em;
}





