<animate-gif class ="{{animgifs.cat}}_gif_wrapper" ng-transclude >
  <div ng-class ="{true: '{{animgifs.cat}}_static zero_opacity',
 false: '{{animgifs.cat}}_static '}[toggleGif=='{{animgifs.cat}}_gif_wrapper']"></div>
  <div ng-if ="toggleGif" class ='{{animgifs.cat}}_animation'></div>
</animate-gif>
<animate-gif class ="{{animgifs.cat}}_gif_wrapper" ng-transclude >
  <div ng-class ="{true: '{{animgifs.cat}}_static zero_opacity',
 false: '{{animgifs.cat}}_static '}[toggleGif=='{{animgifs.cat}}_gif_wrapper']"></div>
  <div ng-if ="toggleGif" class ='{{animgifs.cat}}_animation'></div>
</animate-gif>
<animate-gif class ="{{animgifs.cat}}_gif_wrapper" ng-transclude >
  <div ng-class ="{true: '{{animgifs.cat}}_static zero_opacity',
 false: '{{animgifs.cat}}_static '}[toggleGif=='{{animgifs.cat}}_gif_wrapper']"></div>
  <div ng-if ="toggleGif" class ='{{animgifs.cat}}_animation'></div>
</animate-gif>
<animate-gif class ="{{animgifs.cat}}_gif_wrapper" ng-transclude >
  <div ng-class ="{true: '{{animgifs.cat}}_static zero_opacity',
 false: '{{animgifs.cat}}_static '}[toggleGif=='{{animgifs.cat}}_gif_wrapper']"></div>
  <div ng-if ="toggleGif" class ='{{animgifs.cat}}_animation'></div>
</animate-gif>
<animate-gif class ="{{animgifs.cat}}_gif_wrapper" ng-transclude >
  <div ng-class ="{true: '{{animgifs.cat}}_static zero_opacity',
 false: '{{animgifs.cat}}_static '}[toggleGif=='{{animgifs.cat}}_gif_wrapper']"></div>
  <div ng-if ="toggleGif" class ='{{animgifs.cat}}_animation'></div>
</animate-gif>
<animate-gif class ="{{animgifs.cat}}_gif_wrapper" ng-transclude >
  <div ng-class ="{true: '{{animgifs.cat}}_static zero_opacity',
 false: '{{animgifs.cat}}_static '}[toggleGif=='{{animgifs.cat}}_gif_wrapper']"></div>
  <div ng-if ="toggleGif" class ='{{animgifs.cat}}_animation'></div>
</animate-gif>
