<!--gmtTime-->
<ul class = " dynamic_timeZoneClocks"
	ng-show = "showtime" id ="showTheGMT">
	<li>
		<iframe src="https://www.thetimenow.com/clock/gmt/greenwich_mean_time?t=n
			&amp;embed=1
			&amp;text=14
			&amp;textdate=14
			&amp;format=24
			&amp;digitalclock=20
			&amp;analogclock=60
			&amp;letter_spacing=-2
			&amp;bordersize=0
			&amp;bordercolor=fff
			&amp;bgcolor=rgb(0,0,0)
			&amp;colorloc=fff
			&amp;colordigital=FFA500
			&amp;colordate=ffffff
			&amp;styleloc=normal
			&amp;styledigital=normal
			&amp;styledate=normal
			&amp;right=0" scrolling="no"></iframe>
	</li>
</ul>
