<!-- ng-Controller Twelve-->
<!-- Detailed Cart-->

<div class="col-partial4-a col-partial4" >
  <h2>{{viewMessageTwelve}}</h2>
</div>
<div ng-bind-html="yourCart"></div>
{{status}}
<div class ="httpStatus5 {{yourCartStatus}}" ng-show="false" ></div>

