{{message}}

<div class="wrapp">

<div class="boxx"></div>

 </div>



<div>

    <button ng-mouseover="insert()">Enter Animation</button>

    <button ng-click="remove()">Leave Animation</button>

    <ul>

        <li ng-repeat="user in names">

            <a>{{user.name}}</a>

        </li>
          <li ng-show='tomm' class="animation">{{message}}</li>
    </ul>

</div>


<button ng-click="exptfn()" >tom button</button>

<div ng-init="checked=true">
    <label>
        <input type="checkbox" ng-model="checked" style="float:left; margin-right:10px;"> Is Visible...
    </label>
    <div class="check-element sample-show-hide" ng-show="checked" style="clear:both;">
        Visible...
    </div>
</div>

        
        <div class="wwrap">
            <div class="bbox">
                <%= image_tag "103_pele.jpg",
                alt: "Picture of Pele",
                class: "mike" %>
            </div>
        </div>


<button ng-mouseover="toggle = !toggle"
        ng-mouseleave="toggle = !toggle">Toggle!</button>

<div class="box on" ng-show="toggle" ng-animate="'box'">On</div>
<div class="box off" ng-hide="toggle" ng-animate="'box'">Off</div>


<h1>ngRepeat</h1>
<p><button ng-click="push()">Enter Animation</button> <button ng-click="pop()">Leave Animation</button>
<hr>
<ul>
  <li ng-repeat="item in items" class="animation">{{item}}</li>

</ul>

<button ng-click="showMe = !showMe">Toggle Show Hide</button>
<div class="big-box show-hide-animation" ng-show="showMe">
  I am visible!
</div>


<button ng-click="pleaseWork()" >Please Work btn</button>

Click me: <input type="checkbox" ng-model="checked"><br/>
<div>
  Show:
  <div class="check-element animate-show" ng-show="checked">
    <span class="glyphicon glyphicon-thumbs-up"></span> I show up when your checkbox is checked.
  </div>
</div>
<div>
  Hide:
  <div class="check-element animate-show" ng-hide="checked">
    <span class="glyphicon glyphicon-thumbs-down"></span> I hide when your checkbox is checked.
  </div>
</div>
     <div>hellothere</div>
<div>
  Show:
  <div class="check-element animate-show" ng-show="hello">
    <span class="glyphicon glyphicon-thumbs-up"></span> I shsdfadfhen your checkbox is checked.
  </div>
</div>


<button ng-mouseover="showthefuckingtime()"
        ng-mouseleave="noshowtime()">Show Time Please!</button>
<ul class = " timetgd"
    ng-show = "showtime">
  <li>
    <iframe src="https://www.thetimenow.com/clock/gmt/greenwich_mean_time?t=n
  &amp;embed=1
  &amp;text=14
  &amp;textdate=14
  &amp;format=24
  &amp;digitalclock=20
  &amp;analogclock=60
  &amp;letter_spacing=-2
  &amp;bordersize=0
  &amp;bordercolor=fff
  &amp;bgcolor=rgb(0,0,0)
  &amp;colorloc=fff
  &amp;colordigital=FFA500
  &amp;colordate=ffffff
  &amp;styleloc=normal
  &amp;styledigital=normal
  &amp;styledate=normal
  &amp;right=0" scrolling="no"></iframe>
  </li>
</ul>