
<div class="row">
  <div class="small2 columns"></div>

  <div class="small-10 columns"><h2>Natural Skeptics Association</h2></div>

</div>







<div class="row">

  <div class="small-10 columns"><figure id ="marieCurieImg">

    <%=
        link_to image_tag( "marie_curie_75.jpg", alt: "Image of Marie Curie"),
                "http://www.nobelprize.org/nobel_prizes/physics/laureates/1903/",
                target: "_blank"
    %>

    <figcaption>
      Marie Curie
    </figcaption>



  </figure></div>
  <div class="small-6 large-4 columns">&nbsp;</div>
</div>