{{message}}


<div id='DEMO_GeneratingFractalsWithRegularExpressions'><a class='demonstrationHyperlink' href='http://demonstrations.wolfram.com/GeneratingFractalsWithRegularExpressions/' target='_blank'>Generating Fractals with Regular Expressions</a> from the <a class='demonstrationHyperlink' href='http://demonstrations.wolfram.com/' target='_blank'>Wolfram Demonstrations Project</a> by Enrique Zeleny</div><br />