{{message}}


<section>
  <div class="row">
    <div class="-4u 6u">
      <!--Search Functionality-->
      <input ng-model="query"
             placeholder="Search"
             id="ngsearch" type="text">
      </br> </br>
      <h4>Sort by</h4>
      <select ng-model="orderProp" id = "sortBy"  class ="dropdown">
        <option value="name" ng-bind-html="HTMLalpha"></option>
        <option value="price" ng-bind-html="HTMLlowestPrice"></option>
        <option value="-price" ng-bind-html="HTMLhighestPrice"></option>
        <option value="category" ng-bind-html="HTMLCategory"></option>
        <option value="coachemail" ng-bind-html="HTMLemail"></option>
        <option value="-created_at" ng-bind-html="HTMLcreated_at"></option>
        <option value="-updated_at" ng-bind-html="HTMLupdatedAt"></option>
        <option value="-id" ng-bind-html="HTMLid"></option>
      </select>
    </div>




    <div class="row">
      <div class="-2u 10u">
        <!--Table of Products-->
        <ul>
          <li ng-repeat="coach in coachList | filter:query | orderBy:orderProp">

            <span class ="myspan2"><img ng-src="./assets/{{coach.image_url}} "></span>
            <span id = "myFirstName" class ="myspan">{{myFirstName(coach.name)}}</span>
            <span class ="myspan"> {{coach.category}}</span>

            <span class ="myspan">{{coach.price | nfcurrency:"&euro;" }}/hr</span>
            <span class ="myspan"> {{coach.coachemail}}</span>

          </li>
        </ul>
      </div>
    </div>
  </div>
</section>