
<div class="row">

  <span my-draggable>Drag ME</span>

  <div class="small-10 columns"><h3 id ="mainheading">Natural Skeptics Association</h3></div>

</div>


<div class="row">




    <div class="small-10 columns" >

        <flex-slider id = "myslider" slide="s in slides" animation="slide" my-draggable>
        <li>
        <img ng-src="{{s}}" >
        </li>
        </flex-slider>
    </div>




    </div>







