<!-- Controller Two-->
<!-- Video-->

<div class="col-partial4-a col-partial4">
  <h2>Ocean View</h2>
  <ipsum></ipsum>

  <span ng-include="'/home/oceanVideo.html'"></span>
  <ipsum></ipsum>
</div>



<div class="col-partial4" >
  <h3 >The Man on the Bridge</h3>

  <div class=" col-partial4" ng-class="{vishidden :toggleOnTab==false}">
    <h2>Column C</h2>
    <ipsumlong></ipsumlong>
    <ipsum></ipsum>
    <ipsum></ipsum>

    <ipsumlong></ipsumlong>
  </div>
</div>
<!--Sixties Dublin (partial 4)-->

