<h2>Natural Skeptics Associations</h2>

<br>


<figure>

    <%= link_to image_tag( "marie_curie.jpg", alt: "Image of Marie Curie"),
    "http://www.nobelprize.org/nobel_prizes/physics/laureates/1903/", target: "_blank" %>
    <figcaption>Marie Curie</figcaption>
</figure>
