<div class="row">

<div class="small-6 columns"><h3>{{message}}</h3></div>
  </div>
<div class="row">

    <div class="small-6 columns"><input type="text" ng-model="date" jqdatepicker  /></div>
</div>


<div class="row">

    <div class="small-6 columns"><h3>{{ date }}</h3></div>
</div>


<iframe width='100%' height='520' frameborder='0' src='http://cartodb.com/v/worldcup/match/?TC=x&vis=31ed2e2a-06ce-11e4-8c1d-0e230854a1cb&h=t&t=Brazil,FFCC00%7CGermany,B40903&m=7%2F8%2F2014%2017:00:00%20GMT,7%2F8%2F2014%2018:52:00GMT&g=108%7C11,23,24,26,29,87,97#/2/-17.5/-5.6/0' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

