<div class="main-partial8">
  <h1>Title One</h1>

  <div class="col-partial8-a col-partial8">
    <h2>Column A</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent id mollis neque. Phasellus rutrum iaculis ante,
      id tincidunt tellus pulvinar vitae. Maecenas sodales mollis nisi sit amet congue.
    </p>
    <p>

      <%= image_tag "001_banks.jpg",
                    alt: "Picture of Gordon Banks",
                    id: "banksImage" %>

      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aliquam aperiam assumenda dignissimos eum expedita incidunt molestiae neque nesciunt optio,
      pariatur perferendis placeat quibusdam quos, ratione rem repellat reprehenderit tempora veniam.</p>
  </div>
  <div class="col-partial8-b col-partial8">
    <h2>Column B</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Praesent id mollis neque. Phasellus rutrum iaculis ante,
      id tincidunt tellus pulvinar vitae.
    </p>
  </div>

  <%= image_tag "watson_golden_ratio.jpg",
                alt: "Picture of James Watson",
                id: "watsonImage" %>

  <div class="col-partial8-c col-partial8">
    <h2>Column C</h2>

    <p>

      <%= image_tag "103_pele.jpg",
                    alt: "Picture of Pele",
                    id: "peleImage" %>
      Duis pharetra, sem in dictum posuere, justo orci vestibulum arcu, vitae lobortis ipsum nibh sed dolor. Vestibulum
      sodales pulvinar risus vel fermentum.
      Nunc sit amet eros eget orci euismod imperdiet. Phasellus scelerisque orci
      non ipsum vestibulum non eleifend.

      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id mollis neque.
      Phasellus rutrum iaculis ante, id tincidunt tellus pulvinar vitae.
      Maecenas sodales mollis nisi sit amet congue.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Architecto, consequatur corporis in modi nam nihil
      numquam quisquam rerum ut voluptatem? Asperiores consequatur corporis dolore eveniet facilis maxime ratione sunt
      unde!
    </p>

    <p>
      <%= image_tag "109_schillaci.jpg",
      alt: "Picture of Salvadore Schillachi",
      id: "schillachiImage" %>
      Duis pharetra, sem in dictum posuere, justo scorum goalum Irlandiubus odearibus vestibulum arcu, vitae lobortis ipsum nibh sed dolor. Vestibulum
      sodales pulvinar risus vel fermentum.
      Nunc sit amet eros eget orci euismod imperdiet. Phasellus scelerisque orci
      non ipsum vestibulum non eleifend.
    </p>
  </div>


</div>