<div class="small-image-container"><!--flexbox schillachi-->
	<div class="small-image-wrap-alt">
		<figure class="small-image-figure-alt"
			id ="{{imageId3}}"
			ng-mouseover =  'mouseOverLeave(false, 3)'
			ng-mouseleave = 'mouseOverLeave(true,3)'>
			<img alt="{{imageAltDesc3}}"
			ng-src="/assets/{{imageSource3}}">
			<figcaption
				ng-class= "toggleCaption3 ? 'small-images-caption  vishidden  ': 'small-images-caption '">
				&nbsp;{{captionText3}}</figcaption>
		</figure>
	</div>
	<ipsumlong  ng-class= "toggleShowPara3 ? 'loremParagraph lorem':'loremParagraph lorem vishidden '">
	</ipsumlong>
</div> <!-- end flexbox -->

