<!--
<div class="row">
    <ul class = "small-12 dynamic_timeZoneClocks"
        ng-class= "timezones_model ?  ' dynamic_timeZoneClocks_show': 'dynamic_timeZoneClocks_noShow'">
        <li>
            <iframe src="https://www.thetimenow.com/clock/gmt/greenwich_mean_time?t=n
  &amp;embed=1
  &amp;text=14
  &amp;textdate=14
  &amp;format=24
  &amp;digitalclock=20
  &amp;analogclock=60
  &amp;letter_spacing=-2
  &amp;bordersize=0
  &amp;bordercolor=fff
  &amp;bgcolor=rgb(0,0,0)
  &amp;colorloc=fff
  &amp;colordigital=FFA500
  &amp;colordate=ffffff
  &amp;styleloc=normal
  &amp;styledigital=normal
  &amp;styledate=normal
  &amp;right=0" scrolling="no"></iframe>
        </li>

        <li>
            <iframe src="https://www.thetimenow.com/clock/france?t=n
      &amp;embed=1
      &amp;text=14
      &amp;textdate=15
      &amp;format=24
      &amp;digitalclock=20
      &amp;analogclock=60
      &amp;letter_spacing=-2
      &amp;bordersize=1
      &amp;bordercolor=blue
      &amp;bgcolor=rgb(0,0,0)
      &amp;colorloc=000000
      &amp;colordigital=FFA500
      &amp;colordate=fff
      &amp;styleloc=normal
      &amp;styledigital=normal
      &amp;styledate=normal
      &amp;right=0" scrolling="no"></iframe>
        </li>

        <li>
            <iframe src="http://www.thetimenow.com/clock/united_states/new_york/new_york?t=n
        &amp;embed=1
        &amp;text=14
        &amp;textdate=15
        &amp;format=24
        &amp;digitalclock=20
        &amp;analogclock=60
        &amp;letter_spacing=-2
        &amp;bordersize=1
        &amp;bordercolor=red
        &amp;bgcolor=rgb(0,0,0)
        &amp;colorloc=000000
        &amp;colordigital=FFA500
        &amp;colordate=fff
        &amp;styleloc=normal
        &amp;styledigital=normal
        &amp;styledate=normal
        &amp;right=0" scrolling="no"></iframe>
        </li>
    </ul>
</div>-->
