<!--
<div>
  <table>
    <thead>
    <tr>
      <th>Your Cart1HHH</th>
    </tr>
    </thead>
    <tbody>
    <%#= render(cart.line_items) %>
    <tr>
      <td colspan ="2">Total Price</td>
      <td >
        <%#= number_to_currency(
                    cart.total_price,
                    unit:   '&euro;',
                    precision: 0 )
        %>
      </td>
    </tr>
    <tr>
      <td><%#= button_to 'Empty cart', @cart,
                        :method => :delete,
                        :confirm => 'Are you sure?',
                        :class => "button tiny" %>
      </td>
      <td>
        <a href="#view12" class ="button tiny">Detailed Cart</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>-->
