<div id ="myPartialCart">
	<div>
		<table id ="metable">
			<thead>
				<tr>
					<th colspan ="4" id ="cartPartial_title">Your Cart Items</th>
					<th>
						<span class = "headerFlex">
							<span id = "detailedCartIcon">
								<a  href  = "#view12"
									class = "fa fa-shopping-cart"
									title = "Detailed cart">
								</a>
								<%= link_to '', @cart,
									:method => :delete,
									:remote => true,
									:confirm => 'Are you sure?',
									:title => "Empty Cart",
									:class => 'icon-remove' %>
							</span>
						</span>  <!--headerFlex-->
					</th>
				</tr>
			</thead>
			<tbody>
				<%= render(cart.line_items) %>
			</tbody>
		</table>
	</div>
	<div class = cart_partial_controls> <!--flexbox-->
		<span id="totalPrice_cartPartial"> Total Price&nbsp;
			<span id ="wiw"><%= number_to_currency(cart.total_price, unit:  '&euro;', precision: 0) %></span>
		</span><!--flexitem one-->
	</div>
</div><!--myPartialCart-->
