$skeptics-blue: #0078A0;
$skeptics-orange:#FFA500;
$skeptics-background:#eee;
$skeptics-black: #000000;
$tabs-caption: #453922;
$nav-bar-gray: #999999; //rgb(153,153,153)
$font-size: 16px;
$font-family-helvetica: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$box-shadow: #888888;