$skeptics-blue: #0078A0;   // rgb(0,120,160)
$skeptics-orange:#FFA500;  // rgb(255,165,0)
$skeptics-background:#eee; // rgb(238,238,238)
$skeptics-black: #000000;
$tabs-caption: #453922;    // rgb(69,57,34)
$nav-bar-gray: #999999;    // rgb(153,153,153)
$input-box-gray:#CCCCCC;  // rgb(204,204,204)
$font-size: 16px;
$font-family-helvetica: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$box-shadow: #888888;   // rgb(136,136,136)