//====toggle Fahrenheit to Celcius====

.dynamic_temp.ng-hide, .dynamic_latlong.ng-hide .dynamic_timer.ng-hide {
  line-height: 0;
  opacity: 0;
  visibility: hidden;
}

@include addHideRemove(1s, dynamic_temp, dynamic_latlong, dynamic_timer);

.dynamic_temp.ng-hide, .dynamic_latlong.ng-hide, .dynamic_timer.ng-hide {
  line-height: 0;
  opacity: 0;
}

.fa-umbrella {
  background: white;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.fa-umbrella:hover {
  color: $skeptics-orange;
}

//Celcius to Fahrenheit

.fa-bullseye:hover {
  color: $skeptics-orange;
}

