//===  Flip Images====
//3D-transition CSS modified from Team Treehouse
//See here;http://teamtreehouse.com/library/css-foundations

.wrap {
  position: relative;
  margin: 0;
  width: 301px;
  height: 425px;
  cursor: pointer;
  padding: 0;
}

.wrap div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: 301px 425px;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, .3);
  font: bold 3em sans-serif;
  line-height: 425px;
}

.side-a {
  background: $skeptics-blue url('watson_golden_ratio.jpg');
}

.side-b {
  background: $skeptics-orange url('marie_curie.jpg');
}

.wrap {
  display: inline-block;
  @include vendor-prefix-alt(transition, transform 1s ease-in);
  @include skeptics_transform_style();
}

.wrap div {
  position: absolute;
  @include vendor-prefix(backface-visibility, hidden);
}

.side-a {
  z-index: 100;
}

.side-b,
.wrapFlip {
  @include vendor-prefix(transform, rotateY(-180deg));
}

.wrapLegend {
  display: inline-block;
}

.flipLegendWrapper {
  background: none;
  visibility: visible;
  opacity: 1;
  @include vendor-prefix(transition, all ease-in-out 2s);
}

%base-legend {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  @include vendor-prefix(transition, all ease-in-out 2s);
}

.legendWatson {
  @extend %base-legend;
}

.legendCurie {
  @extend %base-legend;
}

.vishidden-alt {
  position: absolute;
  top: 0;
  left: -5000px;
  visibility: visible;
  opacity: 0;
}

/*
.wrap {
  display: inline-block;
  @include vendor-prefix-alt(transition, transform 1s ease-in);
  */
/*transition: -webkit-transform 1s ease-in;
  transition: -moz-transform 1s ease-in;
  transition: transform 1s ease-in;*//*

  @include skeptics_transform_style();
}*/

/*
.wrap div {
  position: absolute;
  @include vendor-prefix(backface-visibility, hidden);
  */
/*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;*//*

}*/

/*
.side-b ,
.wrapFlip{ @include vendor-prefix(transform, rotateY(-180deg));;
}

.wrapFlip {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg); //-deg orig
}
*/

/*.legendWatson,
.legendCurie {
  display: inline-block;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all ease-in-out 2s;
  -moz-transition: all ease-in-out 2s;
  transition: all ease-in-out 2s;
}*/

