%markdown_base {
  color: $nav-bar-gray;
  font-family: $font-family-helvetica;
  font-size:   0.875rem;
  font-weight: normal;
}

.markdown_header {
  @extend %markdown_base;
  padding: 0 0 em(10px) em(20px);
}

.markdown_abstract  {
  @extend %markdown_base;
  padding: 0 0 em(200px) em(20px);
  color: black;

}
.markdown_text {
  line-height: 1;
  padding: em(10px) 0 ;
}