//==== navbar (time) ====

#time-nav {
  position: relative;
  padding-bottom: 0px; //Careful! (used to be undernav)
  margin-bottom: 0;
}

.dynamic-clock_one,
.dynamic-date_one {
  position: relative;
  visibility: visible;
  border-radius: 11px;
  color: $skeptics-orange;
}

.dynamic-clock-hidden,
.dynamic-date-hidden {
  visibility: hidden;
}

.dynamic-clock-hidden {
  position: absolute;
}

.dynamic-clock_three,
.dynamic-date_three {
  visibility: visible;
  background-color: #fff;
}

.dynamic-clock_four,
.dynamic-date_four {
  color: $skeptics-orange;
}

.dynamic-clock_underline {
  text-decoration: underline;
}

.dynamic-clock-underline_color {
  text-decoration: underline;
  color: $skeptics-orange;
}

.dynamic_timeZoneClocks {
  position: absolute;
  right: 50px;
  top: 0px;
  display: inline;
  opacity: 1;
  background: white;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 10px;
  z-index: 5;
  height: 70px;
}

.dynamic_timeZoneClocks li {
  display: inline-block;
  list-style-type: none;
}

.dynamic_timeZoneClocks.ng-hide {
  line-height: 0;
  opacity: 0;
}

.dynamic_timeZoneClocks.ng-hide-add.ng-hide-add-active,
.dynamic_timeZoneClocks.ng-hide-remove.ng-hide-remove-active {
  @include vendor-prefix(transition, opacity ease-in-out 1s)
}

.dynamic_timeZoneClocks.ng-hide {
  line-height: 0;
  opacity: 0;
}

.fa-sun-o {
  background: white;
  transition-duration: 2s;
  transition-timing-function: ease;
}

.fa-sun-o:hover {
  color: $skeptics-orange;
}

dd.little_cart {
  margin-right: 1em;
  float: right;
}

dd.little_cart .fa-shopping-cart {
  //color: $skeptics-blue;
  size: 3em;

  &:hover {color: $skeptics-orange;}
}

dd.little_cart .icon-users{
color: $skeptics-blue;
}

dd.little_cart .icon-users{
  color: $skeptics-blue;
  &:hover {color: $skeptics-orange;}
}