//==== navbar (main) ====

nav.mainNav {
  padding-left: 0;
  padding-right: 0;
  margin: 20px auto 5px;
  background-color: #000;
  border-radius: 11px;
  box-shadow: 0 1px 1px #ccc;
}

nav.mainNav a {
  display: inline-block;
  padding: 12px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none !important;
  line-height: 1;
  text-transform: uppercase;
  background-color: transparent;
  -webkit-transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  transition: background-color 0.25s;
  border-radius: 10px;
}

@include navGradient($skeptics-blue, 0.4,
        green,
        $skeptics-blue, 0.6,
        home,viewtwo,viewthree,viewfour,viewfive, vieweight);

@include addNavHover(home, viewtwo, viewthree, viewfour, viewfive);
@include addNavFocus(home, viewtwo, viewthree, viewfour, viewfive);

.navList {
  @include myflex();
  margin: 25px auto;
  padding: 10px 20px;
  width: 100%;
  @include vendor-prefix-alt(background,
          radial-gradient(top left, ellipse, $skeptics-orange 7%, transparent 45%));
  border-radius: 15px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
}

.navList li {
  -webkit-flex-grow: 1;
}


/*nav.home .home,
nav.viewtwo .viewtwo,
nav.viewthree .viewthree,
nav.viewfour .viewfour,
nav.viewfive .viewfive,
nav.vieweight .vieweight {

  background: -webkit-linear-gradient(left, $skeptics-blue 40%, green, $skeptics-blue 60%);
  background: -moz-linear-gradient(left, $skeptics-blue 40%, green, $skeptics-blue 60%);
  background: -o-linear-gradient(left, $skeptics-blue 40%, green, $skeptics-blue 60%);
}*/

/*.navList {
  @include myflex();
  margin: 25px auto;
  padding: 10px 20px;
  width: 100%;
  @include vendor-prefix-alt(background, radial-gradient(top left, ellipse, $skeptics-orange 7%, transparent 45%));
  *//* background: -webkit-radial-gradient(top left, ellipse, $skeptics-orange 7%, transparent 45%);
   background: -moz-radial-gradient(top left, ellipse, $skeptics-orange 7%, transparent 45%);
   background: -o-radial-gradient(top left, ellipse, $skeptics-orange 7%, transparent 45%);*//*
  border-radius: 15px;
}*/
