//====Shopping Cart ====

a.button.tiny.thomas {
  width: 100px;
  height: initial;
  text-decoration: none;
  margin-top: 2px;
  margin-right: 0px;
  background: $skeptics-blue;
  display: inline-block;
}

input.button.tiny.tomd {
  margin-top: 15px;
}

.cart {
  position: absolute;
  visibility: visible;
  display: inline-block;
  top: 0;
  left: 0;
  background-color: #F5F5F5;
  z-index: 20;

  #emptyCartButton {
  }

}

.cartwrapper {
  position: relative;
  background: red;
  align-self: flex-start;
}

#noCart {
  //float: left;
  background-color: #9CD2EA;
  /*position:absolute;
  top: 0px;
  left: -10px;**/
  z-index: 10;
  width: 285px;
  height: 70px;
  padding-top: 10px;
  margin-top: 50px;
  margin-left: 10px;

}

#cadrt:before {
  content: "\e601";
  font-family: "icomoon";
  font-size: 1em;
  z-index: 100;
  padding: .4em;
  border-radius: 20%;
  background: green;
  color: #FFF;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cartItem {
  font-weight: normal;
  color: green; //#000;
  padding: 2 5px;
  margin-top: 0;
  font-size: 0.875rem;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
