<!--commodities listing--.
<!--controller six-->
<p id="notice"><%= notice %></p>
<h1>{{viewSixMessage}}</h1>

<div class=" col-partial4"> <!--search and sortby-->
  <div class="row">
    <div class="small-12 columns">
      <dl class="sub-nav">
        <dd><div class="searchBox"><input ng-model="search"/></div></dd>
        <dd>
          <select ng-model="orderProp" id = "sortBy"
                  class ="dropdown">
            <option value="name" ng-bind-html="alpha"></option>
            <option value="price" ng-bind-html="lowestPrice"></option>
            <option value="-price" ng-bind-html="highestPrice"></option>
            <option value="category" ng-bind-html="productCategory"></option>
            <option value="-created_at" ng-bind-html="productCreated_at"></option>
            <option value="-updated_at" ng-bind-html="productUpdatedAt"></option>
            <option value="-id" ng-bind-html="productid"></option>
          </select>
        </dd><dd>
        </dd><dd>
      </dl>
    </div>
  </div>
</div>

<div class="table_lge_wrapper">
 <div  ng-init="init(<%= @commodities.to_json %>)"></div>
  <table>
    <thead>
        <tr>
          <th>&nbsp;</th>
          <th class = "tableColTwo">&nbsp;</th>
          <th class = "tableColTwo">&nbsp;</th>
          <th class = "tableColTwo">&nbsp; </th>
          <th class = "tableColTwo">&nbsp;</th>
        </tr>
    </thead>
    <tbody  ng-repeat="commodity in commodities | filter: search |orderBy:orderProp">
        <tr ng-class=" addCartClass ?  'cartClass' : ''">
            <td>
               <span>
                 <a rel="nofollow"
                   data-remote="true"
                   data-method="post"
                   title ="Add to Cart"
                   ng-mouseover="cartMouseOver()"
                   ng-mouseleave="cartMouseLeave()"
                   href="/line_items?commodity_id={{commodity.id}}">
                  <img ng-src="./assets/{{commodity.image_url}}" class="image_transition">
                 </a>
               </span>
            </td>
            <td ><span >{{commodity.name | uppercase}}</span></td>
            <td>{{commodity.price | nfcurrency:"&euro;" }}</td>
            <td><input type="checkbox" ng-model ="checked">&nbsp;&nbsp;More&hellip;</td>
            <td>
               <a class ="cartIconFlex icon-cart shopping"
                        rel="nofollow"
                        title ="Add to Cart"
                        ng-mouseover="cartMouseOver()"
                        ng-mouseleave="cartMouseLeave()"
                        data-remote="true"
                        data-method="post"
                        href="/line_items?commodity_id={{commodity.id}}">
               </a>
            </td>
        </tr>
        <tr>
          <td colspan="5">
            <div class= "check-element animate-show" ng-show="checked">
              <div>
                <div class ="description">
                 ({{commodity.category}})&nbsp;&nbsp;{{commodity.description}}
                </div>
              </div>
                 <div class = "table_flex_commodities">
                   <span>
                     <a href="/commodities/{{commodity.id}}"
                                  class="button  tiny 5 radius"
                                  data-remote="true">Show
                     </a>
                   </span>
                   <span>
                      <a href="/commodities//{{commodity.id}}/edit"
                                   data-remote="true"
                                   class="button tiny 5 radius">
                                   Edit
                      </a>
                   </span>
                   <span>
                     <a href="/commodities/{{commodities.id}}" data-confirm="Are you sure?"
                                   data-method="delete"
                                   rel="nofollow" class="button alert tiny">
                           Destroy
                     </a>
                   </span>
                 </div>
            </div>
          </td>
        </tr>
    </tbody>
  </table>
</div>