<div class="col-partial10-alt">
	<h1>{{viewSevenMessage}}</h1>
	<%= render 'form' %>
	<div><h4>Some Extra Images</h4></div>
	<ul >
		<li class = "unordered_one">x1_roy_keane.jpg</li>
		<li class = "unordered_one">x2_rivelino.jpg</li>
		<li class = "unordered_one">x3_eusebio.jpg</li>
		<li class = "unordered_one">x4_maradona.jpg</li>
		<li class = "unordered_one">x5_phil_lynott.jpg</li>
	</ul>
</div>
