
nav.hello {
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    margin: 20px auto 5px;
    background-color: #000;
    border-radius: 11px;
    box-shadow: 0 1px 1px #ccc;

}

nav.hello a {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none !important;
    line-height: 1;
    text-transform: uppercase;
    background-color: transparent;

    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    transition: background-color 0.25s;
    border-radius: 10px;
}

nav.home .home,
nav.viewtwo .viewtwo,
nav.viewthree .viewthree,
nav.viewfour .viewfour,
nav.viewfive .viewfive {
    background-color: #5597b4;
}

nav.home a:hover,
nav.viewtwo a:hover,
nav.viewthree a:hover,
nav.viewfour a:hover,
nav.viewfive a:hover {
    color: orange;
}

nav.home a:focus,
nav.viewtwo a:focus,
nav.viewthree a:focus,
nav.viewfour a:focus,
nav.viewfive a:focus {
    color: white;
}

/*Remove Dotted line from Buttons in Mozilla */
:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

/*p {
    font-size: 22px;
    font-weight: bold;
    color: #7d9098;
}

p b {
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
    background-color: #c4d7e0;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 18px;
}*/

#mainheading, #myslider {
    text-align: center;
}

.flexFigCaption {

    transition: color 1s ease;
    color: white;
}

.flexBeforeClass {
    transition: color 1s ease;

    color: #0078A0;
}

.flexAfterClass {
    transition: color 5s ease;
    color: white;
}

#inputdiv {
    text-align: center;
}

#myinput {

    display: inline-block;
    width: 70%;
}

/*#scorewrapper {
    background-color: greenyellow;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
    visibility: hidden;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}

#output {
    font-family: Verdana sans-serif;
    padding: 0 20px;
    font-size: 50px;
    text-align: center;
}

#shoppingcart {
    text-align: center;
    display: inline-block;
}*/

#dynamic-Clock, #dynamic-Clock-two {
    z-index: 10;
    padding: 12px 20px;
    visibility: hidden;
    background-color: #5597b4;
    text-align: center;
    display: inline-block;

    border-radius: 11px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none !important;
    line-height: 1;
    text-transform: uppercase;
}

#dynamic-Clock-two {
    background-color: #000;
}

#dynamic-Clock-three {
   visibility: hidden;
}

/*#fa-clock {
    font-size: 1.3em;
    width: 100%;
}

#fa-clock {
    font-size: 1.3em;
    width: 100%;
}*/

dt a {display: inline-block;}

/*#fa-clock:hover > #myclock {
    opacity: 1;
    display: inline-block;


}*/

/*
#cheetah {
    background-color: red;
    text-align: center;
}

a {
    color: blue;
}

#hidden {
    display: none;
    color: orange;
}

#cheetah:hover > #hidden {
    display: block;
}
*/

