//====General ====

html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  @include vendor-prefix(text-size-adjust, 100%)
  /*-webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;*/
}

body {
  font-family: 'Open Sans', sans-serif;
  @include skeptics_perspective(800px);
  //-webkit-transform-style: preserve-3d;
}

//==Remove Dotted line from Buttons in Mozilla
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.italic {
  font-style: italic;
  color: black;
}

iframe {
  border: none;
  overflow: hidden;
  scroll: none;
  height: em(90px);
  width: em(200px);
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

li {
  list-style-type: none;
}

//== webkit, opera, IE9
::selection {
  background: lightblue;
}

//== mozilla firefox
::-moz-selection {
  background: lightblue;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@include addVishidden(tabs,
        tabscaption,
        col-partial4,
        col-partial2,
        makeVisible,
        sliderBtnsContainer,
        flipLegendWrapper,
        loremParagraph,
        small-images-caption,
        vgControlsTwo);

//==== nav-bar (products)====

#productsnav {
  display: none;
}

//==== flexslider ====

#curie-slider {
  width: 20em;
}

#main-curieSlider, #curie-slider {
  text-align: center;
}

.curie-flex-render {
  max-width: 50%;
  margin: 2em;
}

//Careful

.flexFigCaption {

  transition: color 1s ease;
  color: white;
}

.flexBeforeClass {
  transition: color 1s ease;
  color: $skeptics-blue;
}

.flexAfterClass {
  transition: color 5s ease;
  color: white;
}

//==what are these

/*iframe.noScrolling {
  background: red;
  ovrflow: hidden;
}

dt a {
  display: inline-block;
}*/

//==== Media ====
@media screen and (max-width: 999px) {
  .main {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
}

//=== Experimental === ==================================================
//eg  ...
/*
.intro-text{
  height:auto;
  -webkit-transition: height 200ms ease-out;
  -moz-transition: height 200ms ease-out;
  -o-transition: height 200ms ease-out;
  transition: height 200ms ease-out;
}
.intro-text.hide{
  height:0;
}
*/

/*#tom {
 height: 100px;
 width: 100px;
 background-color: rgba(255, 0, 0, 0.5);
 background-image: url('bg.jpg')
}*/

#productsnav {
  display: inline-block;
}

//What is this?  Careful?

/*
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  */
/* Regular padding-left + 1. *//*

  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

 #target {
   width: 345px;
 }
*/

.fixed {
  position: fixed !important;
}

#chartContainer {
  margin: 2em 3em;
  width: 70%;
  height: 350px;
}




